.book-search {
  &__display {

    width: 100%;
    h2 {
      width: 100%;
      font-size: 1.5em;
      margin-bottom: 10px;
      padding: 1% 0;
    }

    p {
      width: 75%;
      font-size: 1.2em;
      line-height: 1.5;
      float: right;
      padding: 1% 0;
    }

    img {
      width: 20%;
      float: left;
      padding: 1% 0;
    }
  }
}
