.search {

  width: 50%;
  margin: 50px auto;
  &__input {

    width: 100%;
    padding: .5em;
    border: none;
    font-size: 1.4em;

    &:focus {
      background: #ddd;
      outline: none;
    }
  }
}
